
.achievement__title {

    display: flex;
    align-items: center;
    padding: 25px;
    padding-top: 0;

    img {
        height: 70px;
        width: 65px;
    }

    span {
        color: var(--ui-brown);
        margin-left: 25px;
        font-size: 1.1rem;
    }
}

.achievements {
    display: flex;
}
