
.achievement__title {

    display: flex;
    align-items: center;
    padding: 25px;
    padding-top: 0;

    img {
        width: 80px;
    }

    span {
        color: var(--color-txt-brown);
        margin-left: 25px;
        font-size: 1.2rem;
    }
}

.achievements {
    display: flex;
}
