.book-achievements{

    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 450px;
    background-color: var(--color-border-blue-dark);
    border-radius: 10px;
    padding: 20px;
    width: calc(100% - 35px);
    margin-bottom: 70px;

    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 5px;
        bottom: 5px;
        left: 5px;
        right: 5px;
        border-radius: 10px;
        border: 3px solid var(--color-border-blue-light);
    }

    .book-achievements-content{
        position: relative;
        flex-grow: 1;
        background-color: var(--color-bg-white);
        border: 2px solid var(--color-border-brown);
        border-radius: 8px;

        img {
            height: auto;
            max-width: auto;
        }

        .deco-1{
            position: absolute;
            z-index: 1;
            right: -55px;
            top: 60px;
        }

        .deco-2{
            position: absolute;
            z-index: 1;
            bottom: -69px;
            left: 8px;
        }

        .deco-3-1{
            position: absolute;
            z-index: 1;
            bottom: 20px;
            left: -22px;
        }

        .deco-3-2{
            position: absolute;
            z-index: 1;
            top: 25px;
            left: -22px;

            img{
                transform: scaleX(-1);
            }

        }

        .deco-3-3{
            position: absolute;
            z-index: 1;
            top: -49px;
            left: 55px;

            img{
                transform: rotate(90deg);
            }

        }

        .deco-4{
            position: absolute;
            z-index: 1;
            bottom: -95px;
            right: 70px;
        }

        .deco-5{
            position: absolute;
            z-index: 1;
            bottom: 30px;
            right: -34px;
        }

        .deco-6{
            position: absolute;
            z-index: 1;
            bottom: -19px;
            right: 25px;
        }

        .corner{
            position: absolute;
            z-index: 1;


            &.corner-top-left{
                left: -23px;
                top: -23px;
            }

            &.corner-top-right{
                right: -23px;
                top: -23px;

                img{
                    transform: rotate(90deg);
                }
            }

            &.corner-bottom-left{
                left: -23px;
                bottom: -27px;

                img{
                    transform: rotate(-90deg);
                }
            }

            &.corner-bottom-right{
                right: -23px;
                bottom: -27px;

                img{
                    transform: rotate(180deg);
                }
            }

        }

        .book-achievements-content-block{
            padding: 20px;

            .book-achievements-row{
                display: flex;
                background-color: var(--color-bg-white-light);
                border: 2px solid var(--color-border-brown-light);
                box-shadow: var(--color-shadow-brown-light);
                -webkit-box-shadow: var(--color-shadow-brown-light);
                -moz-box-shadow: var(--color-shadow-brown-light);
                margin-bottom: 6px;

                .book-achievements-row-head{
                    padding: 10px 20px;
                    img {
                        width: 98px;
                    }
                }

                .book-achievements-row-desc{
                    padding: 10px;

                    display: flex;
                    flex-direction: column;

                    span{
                        margin-top: auto;
                        font-size: 1.6rem;
                    }

                    p{
                        margin-top: 10px;
                        margin-bottom: auto;
                        font-size: 1.3rem;
                        color: var(--color-txt-brown-light);
                    }
                }

                .book-achievements-row-primogem{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    margin-left: auto;
                    padding: 10px 25px;
                    position: relative;

                    span{
                        position: absolute;
                        bottom: 21.5px;
                        color: var(--color-txt-white-light);
                    }

                    img {
                        width: 80px;
                    }
                }

                .book-achievements-row-foot{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    background-color: var(--color-bg-white-dark);
                    width: 200px;
                    font-size: 1.3rem;
                    color: var(--color-txt-brown-light);
                }
            }
        }
    }

}
