/* Achiement book theme */

.os-theme-book-achievement > .os-scrollbar-horizontal {
    right: 10px;
    height: 10px;
}

.os-theme-book-achievement > .os-scrollbar-vertical {
    bottom: 10px;
    width: 10px;
}

.os-theme-book-achievement.os-host-rtl > .os-scrollbar-horizontal {
    left: 10px;
    right: 0;
}

.os-theme-book-achievement > .os-scrollbar-corner {
    height: 10px;
    width: 10px;
}

.os-theme-book-achievement > .os-scrollbar-corner {
    background-color: transparent;
}

.os-theme-book-achievement > .os-scrollbar {
    padding: 2px;
    box-sizing: border-box;
    background: #D8D2CD;
    border: 1px solid #C6C1BD;
    width: 5px;
}

.os-theme-book-achievement > .os-scrollbar.os-scrollbar-unusable {
    background: transparent;
}

.os-theme-book-achievement > .os-scrollbar > .os-scrollbar-track {
    background: transparent;
}

.os-theme-book-achievement > .os-scrollbar-horizontal > .os-scrollbar-track > .os-scrollbar-handle {
    min-width: 30px;
}

.os-theme-book-achievement > .os-scrollbar-vertical > .os-scrollbar-track > .os-scrollbar-handle {
    min-height: 30px;
}

.os-theme-book-achievement.os-host-transition > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle {
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    width: 10px;
    left: -5px;
}

.os-theme-book-achievement > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle,
.os-theme-book-achievement > .os-scrollbar > .os-scrollbar-track {
    border-radius: 10px;
}

.os-theme-book-achievement > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle {
    background: rgba(255, 255, 255, .7);
}

.os-theme-book-achievement > .os-scrollbar:hover > .os-scrollbar-track > .os-scrollbar-handle {
    background: rgba(255, 255, 255, .7);
}

.os-theme-book-achievement > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle.active {
    background: rgba(255, 255, 255, 1);
}

.os-theme-book-achievement > .os-scrollbar-horizontal .os-scrollbar-handle:before,
.os-theme-book-achievement > .os-scrollbar-vertical .os-scrollbar-handle:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
}

.os-theme-book-achievement.os-host-scrollbar-horizontal-hidden > .os-scrollbar-horizontal .os-scrollbar-handle:before,
.os-theme-book-achievement.os-host-scrollbar-vertical-hidden > .os-scrollbar-vertical .os-scrollbar-handle:before {
    display: none;
}

.os-theme-book-achievement > .os-scrollbar-horizontal .os-scrollbar-handle:before {
    top: -6px;
    bottom: -2px;
}

.os-theme-book-achievement > .os-scrollbar-vertical .os-scrollbar-handle:before {
    left: -6px;
    right: -2px;
}

.os-host-rtl.os-theme-book-achievement > .os-scrollbar-vertical .os-scrollbar-handle:before {
    right: -6px;
    left: -2px;
}

.os-theme-book-achievement.os-host-resize-disabled.os-host-scrollbar-horizontal-hidden > .os-scrollbar-vertical {
    top: 90px;
    bottom: 15px;
    right: 6px;
    border-radius: 50px;
}
