.achievement__category {
    width: 100%;
    margin: 0 25px;

    .achievement__category__title{
        background-color: var(--color-bg-black-transparent);
        position: relative;
        padding: 15px;
        width: calc(100% - 15px);
        margin: 0 auto;
        margin-bottom: 15px;
        display: flex;

        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 3px;
            bottom: 3px;
            left: 3px;
            right: 3px;
            border: 2px solid var(--color-border-blue-light);
            z-index: 1;
        }

        .achievement__category__title-icon{
            padding-right: 10px;
        }


        .achievement__category__title-description{
            width: calc(100% - 50px);
            display: flex;
            flex-direction: column;

            .title{
                font-size: 1.2rem;
                color: var(--color-txt-white);
            }

            .progress{
                color: var(--color-txt-brown);
                font-size: 0.9rem;
            }

        }


        &.active {
            width: 100%;
            background-color: var(--color-bg-white-dark);

            &:after{
                border-color: var(--color-border-brown-light)
            }

            .achievement__category__title-description {
                .title {
                    color: var(--color-txt-black);
                }
            }

            &:before {
                content: "";
                position: absolute;
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
                border-right: 10px solid transparent;
                border-left: 10px solid var(--color-border-white);
                left: -13px;
                top: calc(50% - 15px);
            }
        }
    }

}
