.book {

    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--ui-blue-dark);
    border-radius: 10px;
    padding: 20px;
    max-width: 61.95%;
    margin-right: 35px;
    margin-left: auto;
    margin-bottom: 70px;
    width: 100%;

    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 5px;
        bottom: 5px;
        left: 5px;
        right: 5px;
        border-radius: 10px;
        border: 3px solid var(--ui-blue-light);
        z-index: 1;
    }

    .book__content {
        position: relative;
        flex-grow: 1;
        background-color: var(--ui-white);
        border: 2px solid var(--ui-brown-darken);
        border-radius: 8px;
        z-index: 2;

        .deco-1 {
            position: absolute;
            z-index: 1;
            right: -55px;
            top: 60px;
            img {
                width: 33px;
            }
        }

        .deco-2 {
            position: absolute;
            z-index: 1;
            bottom: -69px;
            left: 8px;
            img {
                height: 64px;
                width: 198px;
            }
        }

        .deco-3-1 {
            position: absolute;
            z-index: 1;
            bottom: 20px;
            left: -22px;

            img {
                height: 76px;
                width: 22px;
            }
        }

        .deco-3-2 {
            position: absolute;
            z-index: 1;
            top: 25px;
            left: -22px;

            img{
                transform: scaleX(-1);
                height: 76px;
                width: 22px;
            }

        }

        .deco-3-3 {
            position: absolute;
            z-index: 1;
            top: -49px;
            left: 55px;

            img {
                height: 76px;
                width: 22px;
                transform: rotate(90deg);
            }

        }

        .deco-4 {
            position: absolute;
            z-index: 1;
            bottom: -95px;
            right: 70px;

            img {
                height: 69px;
                width: 94px;
            }
        }

        .deco-5 {
            position: absolute;
            z-index: 1;
            bottom: 30px;
            right: -34px;

            img {
                height: 139px;
                width: 34px;
            }
        }

        .deco-6 {
            position: absolute;
            z-index: 1;
            bottom: -19px;
            right: 25px;
            img {
                height: 13px;
                width: 86px;
            }
        }

        .corner {
            position: absolute;
            z-index: 1;

            img{
                height: 43px;
                width: 43px;
            }


            &.corner-top-left{
                left: -23px;
                top: -23px;
            }

            &.corner-top-right{
                right: -23px;
                top: -23px;

                img{
                    transform: rotate(90deg);
                }
            }

            &.corner-bottom-left{
                left: -23px;
                bottom: -27px;

                img{
                    transform: rotate(-90deg);
                }
            }

            &.corner-bottom-right{
                right: -23px;
                bottom: -27px;

                img{
                    transform: rotate(180deg);
                }
            }

        }

        .book__content-scroll::-webkit-scrollbar {
            width: 8px;
            height: 8px;
            background-color: var(--ui-white-darken);
        }

        .book__content-scroll::-webkit-scrollbar-thumb {
            background: var(--white);
        }

        .book__content-scroll {

            max-height: calc(100vh - 150px);
            min-height: calc(100vh - 150px);
            overflow: auto;
            width: 100%;
            position: relative;

            scrollbar-color: var(--white) var(--ui-white-darken);
            scrollbar-width: thin;

            & * {
                touch-action: pan-y !important;
            }

            .book__row {

                margin: 6px 20px;
                display: flex;
                background-color: var(--ui-white-light);
                border: 2px solid var(--ui-brown-light);
                box-shadow: var(--ui-shadow-brown);
                -webkit-box-shadow: var(--ui-shadow-brown);
                -moz-box-shadow: var(--ui-shadow-brown);

                &:last-child{
                    margin-bottom: 20px;
                }

                &:first-child{
                    margin-top: 20px;
                }

                &.active{
                    margin-left: 15px;
                    margin-right: 15px;
                }

                &:active{
                    border-color: var(--ui-orange);
                    box-shadow: var(--ui-shadow-orange);
                    -webkit-box-shadow: var(--ui-shadow-orange);
                    -moz-box-shadow: var(--ui-shadow-orange);
                }

                .book__row-picto {

                    padding: 10px 20px;
                    width: 100px;
                    align-items: center;
                    display: flex;

                    img {
                        height: 62px;
                        width: 100px;
                    }

                }

                .book__row-description {

                    padding: 10px;
                    display: flex;
                    flex-direction: column;
                    width: calc(100% - 360px);


                    span{
                        margin-top: auto;
                        font-size: 1.1rem;
                    }

                    p{
                        margin-top: 5px;
                        margin-bottom: auto;
                        font-size: 0.9rem;
                        color: var(--ui-brown-dark);
                    }
                }

                .book__row-reward {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    margin-left: auto;
                    padding: 12px 18px;
                    position: relative;
                    width: 85px;

                    div {
                        position: relative;

                        span {

                            position: absolute;
                            bottom: 2px;
                            color: var(--white);
                            text-align: center;
                            left: 0;
                            right: 0;
                            font-size: 0.9rem;
                        }
                    }

                    img {
                        height: 48px;
                        width: 85px;
                    }
                }

                .book__row-progress {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    background-color: var(--ui-white-dark);
                    width: 130px;
                    font-size: 1.1rem;
                    color: var(--ui-brown-dark);
                }

            }

        }

    }

    @media (max-width: 1399px) {
        max-width: 96%;
    }
}
