
/*
* Implements Font
*/

@font-face {
    font-family: 'HYWenHei-85W';
    src: url('../fonts/HYWenHei-85W.ttf');
}


/*
* Implements Minireset.css | MIT License | github.com/jgthms/minireset.css
*/

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

ul {
    list-style: none;
}

button,
input,
select,
textarea {
    margin: 0;
}

html {
    box-sizing: border-box;
    position: relative;
}

*, *::before, *::after {
    box-sizing: inherit;
}

img,
video {
    -webkit-user-drag: none;
    height: auto;
    max-width: 100%;
}

iframe {
    border: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
    text-align: left;
}

canvas{
    outline: none!important;
}

/*
* Implements Base CSS
*/

html,
a,
body.os-dragging,
body.os-dragging * {
	cursor: url('../images/cursor.png'), auto!important;
}

html {

    user-select: none;

    body {

        font-family: 'HYWenHei-85W';
        color: var(--color-txt-black);
        font-size: 1rem;

        .body-container {

            min-height: 100vh;
            display: flex;
            flex-direction: column;

            @media only screen and (orientation: portrait) {
                display: none;
            }

            .body-content {
                flex-grow:1;
                padding: 15px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }

            footer {
                background-color: var(--color-bg-grey-blue);
                outline: 3px solid var(--color-border-grey-blue);
                outline-offset: -5px;
                padding: 15px;
                min-height: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                color: var(--color-txt-white);
                font-size: 0.9rem;
            }

        }

    }
}
