
/*
* Implements Font
*/

@font-face {
    font-family: 'HYWenHei-85W';
    src: url('../fonts/HYWenHei-85W.ttf');
    font-display: swap;
}


/*
* Implements Minireset.css | MIT License | github.com/jgthms/minireset.css
*/

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

ul {
    list-style: none;
}

button,
input,
select,
textarea {
    margin: 0;
}

html {
    box-sizing: border-box;
    position: relative;
}

*, *::before, *::after {
    box-sizing: inherit;
}

img,
video {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    height: auto;
    max-width: 100%;
}

iframe {
    border: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
    text-align: left;
}

canvas{
    outline: none!important;
}

/*
* Implements Base CSS
*/

html,
a,
button,
body.os-dragging,
body.os-dragging * ,
.select-gi-theme__container *{
	cursor: url('../images/cursor.png'), auto!important;
}

a[href]{
    color: var(--ui-brown-dark);
    text-decoration: none;
}

html {

    user-select: none;

    &.menu-open,
    &.popup-open{
        overflow: hidden;
    }

    body {

        font-family: 'HYWenHei-85W';
        color: var(--ui-grey);
        font-size: 1rem;
        line-height: 1.4rem;

        .body-container {

            min-height: 100vh;
            display: flex;
            flex-direction: column;

            @media only screen and (orientation: portrait) {
                display: none;
            }

            .body-content {
                flex-grow:1;
                padding: 15px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }

            footer {
                background-color: var(--ui-blue-dark);
                outline: 3px solid var(--ui-blue-light);
                outline-offset: -5px;
                padding: 15px;
                min-height: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                color: var(--ui-white);
                font-size: 0.9rem;
            }

        }

    }
}

/*
* Button / Input
*/

.gi__input{
    background-color: var(--ui-white);
    border: 2px solid var(--ui-white);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 25px;
    font-family: 'HYWenHei-85W';
    color: var(--ui-grey);
    outline: none !important;
    padding: 7px 10px;
    width: 180px;
    min-height: 50px;
    font-size: 1.1rem;

    &:focus{
        border: 2px solid var(--ui-white-darken);
        box-shadow: 0 0 0 3px var(--white);
    }
}

.gi__button-circle{
    background-color: var(--ui-white);
    border: 4px solid var(--ui-grey-darken);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 100%;
    font-family: 'HYWenHei-85W';
    color: var(--ui-grey);
    font-size: 1rem;
    outline: none!important;
    padding: 2px 8px;

    svg path{
        fill: var(--ui-grey);
    }

    &:focus{
        border: 4px solid var(--white);
    }

    &:active{
        background-color:  var(--ui-brown-dark);
        border: 4px solid var(--ui-brown-dark);
        color: var(--white);

        svg path{
            fill: var(--white);
        }

    }
}


.gi__button{
    background-color: var(--ui-blue-dark);
    border: 3px solid var(--ui-blue-dark);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 35px;
    font-family: 'HYWenHei-85W';
    color: var(--ui-white);
    font-size: 1.1rem;
    outline: none!important;
    padding: 7px 10px;
    min-height: 54px;
    display: inline-flex;
    align-items: center;

    .picto{
        display: inline-flex;
        align-items: center;
        margin-right: 10px;
        border-radius: 100%;
        padding: 8px;
        background-color: var(--ui-white);

        &.login-icon svg{
            fill: var(--ui-blue-dark);
        }

    }

    &:hover{
        border: 3px solid var(--ui-orange-light);
    }


    &:focus{
        border: 3px solid var(--ui-orange-light);
    }

    &:active{
        background-color:  var(--ui-brown-light);
        border: 3px solid var(--ui-brown-darken);
        color: var(--ui-brown-darken);
    }
}
