:root {

    --ui-grey: #555555;
    --ui-grey-dark: #495366;
    --ui-grey-light: #606979;
    --ui-grey-v-light: #C5C2BD;
    --ui-grey-darken: #969696;


    --ui-white: #ECE5D8;
    --ui-white-light: #F5F1EB;
    --ui-white-dark: #EBE3D8;
    --ui-white-darken: #DAD4CB;


    --ui-brown: #D3BC8E;
    --ui-brown-dark: #BCA895;
    --ui-brown-darken: #5F5959;
    --ui-brown-light: #D8CBBB;
    --ui-shadow-brown: 0px 0px 0px 2px #E0D6CB;

    --ui-blue-dark: #3E4557;
    --ui-blue-light: #525460;
    --ui-blue-transparent: rgba(45, 53, 66, 0.8);

    --ui-orange: #CF9F70;
    --ui-orange-light: #FFE6B3;

    --ui-shadow-orange: 0px 0px 0px 2px #CF9F70;

    --ui-menu-icon:#e4e4e4;
    --ui-menu-icon-active:#727272;

    --white: #ffffff;
    --black: #000000;

}
