:root {

    /* Text color */

    --color-txt-black: #555555;
    --color-txt-white: #ECE5D8;
    --color-txt-brown: #D3BC8E;
    --color-txt-brown-light: #BCA895;
    --color-txt-brown-dark: #B7A18C;

    /* Background color */

    --color-bg-grey-blue: #50596B;

    /* Border color */

    --color-border-grey-blue: #626770;


}
