:root {

    /* Text color */

    --color-txt-black: #555555;
    --color-txt-white: #ECE5D8;
    --color-txt-brown: #D3BC8E;
    --color-txt-brown-light: #BCA895;
    --color-txt-brown-dark: #B7A18C;

    /* Background color */

    --color-bg-grey-blue: #50596B;
    --color-bg-white: #F1ECE6;

    /* Border color */

    --color-border-grey-blue: #626770;
    --color-border-blue-dark: #3E4557;
    --color-border-blue-light: #525460;
    --color-border-brown: #5F5959;


}
